<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haiwen.mapper.SalesOrderMapper">
    <!--查询订单表，若该订单的相关商品或相关经办人或相关顾客被删除了，则该相关订单查询不到-->
    <resultMap id="selSalesOrder" type="com.haiwen.pojo.Salesorder">
        <id property="id" column="sid"/>
        <result property="ordernumber" column="ordernumber"/>
        <result property="productamount" column="productamount"/>
        <result property="productallprice" column="productallprice"/>
        <result property="createtime" column="createtime"/>
        <result property="customername" column="customername"/>
        <association property="product" javaType="product">
            <id property="id" column="pid"/>
            <result property="productnumber" column="productnumber"/>
            <result property="productname" column="productname"/>
            <result property="productsalesprice" column="productsalesprice"/>
        </association>
        <association property="customer" javaType="customer">
            <id property="id" column="cid"/>
            <result property="customernumber" column="customernumber"/>
            <result property="linkphone" column="linkphone"/>
        </association>
        <association property="employee" javaType="employee">
            <id property="id" column="eid"/>
            <result property="employeenumber" column="employeenumber"/>
            <result property="employeename" column="employeename"/>
        </association>
    </resultMap>
    <select id="selectBySalesOrderNumAndPsd" resultMap="selSalesOrder">
        select s.id sid,ordernumber,productamount,productallprice,s.createtime createtime,s.customername customername,p.id pid,productnumber,productname,productsalesprice,linkphone,c.id cid,customernumber,e.id eid,employeename,employeenumber
        from s_salesorder s,s_product p,s_employee e,s_customer c
        <where>
            and s.productid=p.id and s.customerid=c.id and s.employeeid=e.id
            <if test="orderNumber!=''">
                and ordernumber = #{orderNumber}
            </if>
            <if test="employeeName!=''">
                <bind name="employeeName" value="'%'+employeeName+'%'"/>
                and e.employeename like #{employeeName}
            </if>
        </where>
        limit #{pageInfo.pageStart},#{pageInfo.pageSize}
    </select>
    <!--查询符合查询条件的订单表总记录数
    若该订单的相关商品或相关经办人或相关顾客被删除了，则该相关订单查询不到-->
    <select id="selectCountOfSalesOrder" resultType="int">
        select count(*) from s_salesorder s,s_product p,s_employee e,s_customer c
        <where>
            and s.productid=p.id and s.customerid=c.id and s.employeeid=e.id
            <if test="orderNumber!=''">
                and ordernumber = #{orderNumber}
            </if>
            <if test="employeeName!=''">
                <bind name="employeeName" value="'%'+employeeName+'%'"/>
                and e.employeename like #{employeeName}
            </if>
        </where>
    </select>
    <!--删除一个订单信息-->
    <delete id="deleteOneSalesOrder" parameterType="string">
        delete from s_salesorder where ordernumber = #{orderNumber}
    </delete>
    <!--清空数据-->
    <delete id="deleteAll">
        delete from s_salesorder where 1=1;
    </delete>
    <!--查找所有客户-->
    <select id="selectAllCustomer" resultType="com.haiwen.pojo.Customer">
        select * from s_customer
    </select>
    <!--查找所有商品-->
    <select id="selectAllProduct" resultType="com.haiwen.pojo.Product">
        select * from s_product
    </select>
    <!--查找所有经办人-->
    <select id="selectAllEmployee" resultType="com.haiwen.pojo.Employee">
        select *
        from s_employee;
    </select>
    <!--查找库存表-->
    <select id="selectStockAmount" resultType="long" parameterType="string">
        select stockamount
        from s_product p,s_stock t
        where t.productid=p.id and p.productnumber=#{number}
    </select>
    <!--插入订单表-->
    <insert id="insertSalesOrder" parameterType="com.haiwen.pojo.Salesorder" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into s_salesorder(productid,productamount,productallprice,employeeid,customerid,customername)
        values (#{productid},#{productamount},#{productallprice},#{employeeid},#{customerid},#{customername})
    </insert>
    <!--修改库存表-->
    <update id="updateStock" parameterType="com.haiwen.pojo.Salesorder">
        update s_stock
        set stockamount = stockamount-#{productamount},salesamount=salesamount+#{productamount}
        where productid = #{productid}
    </update>
    <!--通过顾客编号查找顾客ID-->
    <select id="selectCustomer" resultType="com.haiwen.pojo.Customer" parameterType="string">
        select * from s_customer where customernumber = #{0}
    </select>
    <!--通过商品编号查找商品ID-->
    <select id="selectProduct" resultType="com.haiwen.pojo.Product" parameterType="string">
        select * from s_product where productnumber=#{0}
    </select>
    <!--通过员工编号查找员工ID-->
    <select id="selectEmployeeId" resultType="long" parameterType="string">
        select id from s_employee where employeenumber=#{0}
    </select>
    <!--通过订单表ID查找订单表编号-->
    <select id="selectSalesOrderNumber" resultType="com.haiwen.pojo.Salesorder" parameterType="long">
        select * from s_salesorder where id=#{0}
    </select>
    <!--修改-->
    <update id="updateSalesOrder" parameterType="com.haiwen.pojo.Salesorder">
        update s_salesorder
        set productid=#{productid},employeeid=#{employeeid},customerid=#{customerid},customername=#{customername},createtime=#{createtime},productamount=#{productamount},productallprice=#{productallprice}
        where ordernumber = #{ordernumber}
    </update>
    <!--通过订单编号查找相关订单-->
    <select id="selectSalesOrderByNumber" resultType="com.haiwen.pojo.Salesorder" parameterType="string">
        select * from s_salesorder where ordernumber = #{0}
    </select>
</mapper>